body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: rgb(241, 149, 241);
}

#orders-delivery{
    background-color:  rgb(241, 149, 241);
}

#orders-pending{
    background-color:  rgb(241, 149, 241);
}