{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar flexsm-row navbar-expand-lg navbar-dark bg-dark">
    <a href="{% url 'app:home' %}"><img src="{% static 'images/logo.png' %}" alt="logo cambio de look" width="90px" height="63px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_staff %}
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:home' %}">Resumen</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'eventos:calendar' %}">Agenda</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Facturadas</a>
            <a class="dropdown-item" href="">Abonos</a>
            <a class="dropdown-item" href="">Comisiones</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'app:products' %}">Inventario</a>
            <a class="dropdown-item" href="">Ventas</a>
            <a class="dropdown-item" href="">Historial</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'app:products' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'app:create_customer'%}">Crear</a>
            <a class="dropdown-item" href="{% url 'app:customers' %}">Listar</a>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Crear</a>
            <a class="dropdown-item" href="">Listar</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administracion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Servicios</a>
            <a class="dropdown-item" href="">Prestadores de servicios</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:account' request.user.id%}">Settings</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <span class="hello-msg">Hola, {{request.user|capfirst}}</span>
    <span ><a  class="hello-msg" href="{% url 'app:logout' %}">Salir</a></span>

  </nav>