<br>

<div class="row justify-content-sm-center">
        <div class="col-sm flex-md-column flex-lg-column flex-sm-column">
            <div class="col-sm col-md col-lg">
                <div class="card text-center text-white mb-3" id="total-orders">
                    <div class="card-header">
                        <h5 class="card-title">Total Servicios</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_orders }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm flex-md-column flex-lg-column flex-sm-column">
            <div class="col-sm col-md col-lg">
                <div class="card text-center text-white mb-3" id="orders-delivery">
                    <div class="card-header">
                        <h5 class="card-title">Servicios Terminadas</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ finished }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm flex-md-column flex-lg-column flex-sm-column">
            <div class="col-sm col-md col-lg">
                <div class="card text-center text-white mb-3" id="orders-pending">
                    <div class="card-header">
                        <h5 class="card-title">Servicios Pendientes</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ pending }}</h3>
                    </div>
                </div>
            </div>
        </div>

</div>